.guess button.shift {
  background-color: #ffff80
}

.guess button.exact {
  background-color: #93c572
}

.guess button {
  width: 18%;
  height: 90px;
  font-size: 22pt;
}

.word_selection select {
  font-size: 28pt;
  height: 50px;
  width: 90%;
  margin-top: 30px;
}

.word_selection button {
  width: 45%;
  height: 90px;
  margin-top: 30px;
  font-size: 22pt;
}
